<h1><b> Set-up to Import the Spotify Dataset to MySQL Workbench! </b></h1>

<H3><b>1. Install Necessary Libraries</b></H3>

In [2]:
pip install mysql-connector-python pandas gdown

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: gdown in c:\anaconda\lib\site-packages (5.2.0)
Requirement already satisfied: numpy>=1.26.0 in c:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\anaconda\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\anaconda\lib\site-packages (from gdown) (2.32.2)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests[socks]->gdown) (2024.7.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\anaconda\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 640.0 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/45.0 kB 640.0 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 245.8 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 245.8 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 245.8 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 147.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

<h3><b> 2. Download the dataset from Google Drive and Directly Load it to MySQL </b></h3>

<p style="font-size:16px;"><b>Note:</b><br>
Extract the File ID:
    ** From the shareable link, extract the file ID. The file ID is the part after /d/ and before /view. **

<b>For example, if your link is:</b>

<spam>https://drive.google.com/file/d/1009ZQdqIQV1-TNqNt1rXENK4zFWM_55u/view?usp=drive_link</spam>

The file ID is <b>1009ZQdqIQV1-TNqNt1rXENK4zFWM_55u.</b>
</p>

In [11]:
# Step 1: Import necessary libraries
import gdown
import pandas as pd
import pymysql
from pymysql import OperationalError

# Step 2: Download the dataset from Google Drive
file_id = '1009ZQdqIQV1-TNqNt1rXENK4zFWM_55u'
output = 'spotify_dataset.csv'
gdown.download(f'https://drive.google.com/uc?id={file_id}', output, quiet=False)

# Step 3: Load the dataset into a pandas DataFrame
df = pd.read_csv(output)

# Display the first few rows of the DataFrame to confirm successful loading
print(df.head())

# Step 4: Handle NaN values by replacing them with appropriate defaults
df.fillna({
    'spotify_track_uri': '',
    'ts': '1970-01-01 00:00:00',
    'platform': '',
    'ms_played': 0,
    'track_name': '',
    'artist_name': '',
    'album_name': '',
    'reason_start': '',
    'reason_end': '',
    'shuffle': False,
    'skipped': False
}, inplace=True)

# Step 5: Remove duplicate entries based on the primary key
df.drop_duplicates(subset=['spotify_track_uri', 'ts'], inplace=True)

# Step 6: Connect to the MySQL database
try:
    connection = pymysql.connect(
        host='localhost',      # Replace with your MySQL host
        user='root',  # Replace with your MySQL username
        password='12345678',  # Replace with your MySQL password
        database='spotify_analysis'  # Replace with your MySQL database name
    )
    if connection.open:
        print("Successfully connected to the database")
        
        # Step 7: Create a cursor object
        cursor = connection.cursor()

        # Step 8: Create a table to store the dataset
        create_table_query = """
        CREATE TABLE IF NOT EXISTS spotify_data (
            spotify_track_uri VARCHAR(255),
            ts TIMESTAMP,
            platform VARCHAR(255),
            ms_played INT,
            track_name VARCHAR(255),
            artist_name VARCHAR(255),
            album_name VARCHAR(255),
            reason_start VARCHAR(255),
            reason_end VARCHAR(255),
            shuffle BOOLEAN,
            skipped BOOLEAN,
            PRIMARY KEY (spotify_track_uri, ts)
        )
        """
        cursor.execute(create_table_query)
        print("Table created successfully")

        # Step 9: Insert data into the table in chunks, using INSERT IGNORE to handle duplicates
        chunk_size = 1000
        for start in range(0, len(df), chunk_size):
            end = start + chunk_size
            chunk = df.iloc[start:end]
            for i, row in chunk.iterrows():
                insert_query = """
                INSERT IGNORE INTO spotify_data (spotify_track_uri, ts, platform, ms_played, track_name, artist_name, album_name, reason_start, reason_end, shuffle, skipped)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                """
                cursor.execute(insert_query, tuple(row))

            # Commit the transaction after each chunk
            connection.commit()
            print(f"Inserted rows {start} to {end}")

except OperationalError as e:
    print(f"Error: {e}")
finally:
    if connection and connection.open:
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Downloading...
From: https://drive.google.com/uc?id=1009ZQdqIQV1-TNqNt1rXENK4zFWM_55u
To: C:\Users\Richard Muchoki\Documents\SQL\Spotify_Dataset_Analysis\spotify_dataset.csv
100%|██████████| 21.3M/21.3M [00:37<00:00, 567kB/s]

        spotify_track_uri                   ts    platform  ms_played  \
0  2J3n32GeLmMjwuAzyhcSNe  2013-07-08 02:44:34  web player       3185
1  1oHxIPqJyvAYHy0PVrDU98  2013-07-08 02:45:37  web player      61865
2  487OPlneJNni3NWC8SYqhW  2013-07-08 02:50:24  web player     285386
3  5IyblF777jLZj1vGHG2UD3  2013-07-08 02:52:40  web player     134022
4  0GgAAB0ZMllFhbNc3mAodO  2013-07-08 03:17:52  web player          0

                                      track_name        artist_name  \
0                            Say It, Just Say It       The Mowgli's
1  Drinking from the Bottle (feat. Tinie Tempah)      Calvin Harris
2                                    Born To Die       Lana Del Rey
3                               Off To The Races       Lana Del Rey
4                                      Half Mast  Empire Of The Sun

                           album_name reason_start reason_end  shuffle  \
0                Waiting For The Dawn     autoplay   clickrow    False
1                           18 Months     clickrow   clickrow    False
2  Born To Die - The Paradise Edition     clickrow    unknown    False
3  Born To Die - The Paradise Edition    trackdone   clickrow    False
4                  Walking On A Dream     clickrow    nextbtn    False

   skipped
0    False
1    False
2    False
3    False
4    False
Successfully connected to the database
Table created successfully
Inserted rows 0 to 1000
Inserted rows 1000 to 2000
Inserted rows 2000 to 3000
Inserted rows 3000 to 4000
Inserted rows 4000 to 5000
Inserted rows 5000 to 6000
Inserted rows 6000 to 7000
Inserted rows 7000 to 8000
Inserted rows 8000 to 9000
Inserted rows 9000 to 10000
Inserted rows 10000 to 11000
Inserted rows 11000 to 12000
Inserted rows 12000 to 13000
Inserted rows 13000 to 14000
Inserted rows 14000 to 15000
Inserted rows 15000 to 16000
Inserted rows 16000 to 17000
Inserted rows 17000 to 18000
Inserted rows 18000 to 19000
Inserted rows 19000 to 20000
Inserted rows 20000 to 21000
Inserted rows 21000 to 22000
Inserted rows 22000 to 23000
Inserted rows 23000 to 24000
Inserted rows 24000 to 25000
Inserted rows 25000 to 26000
Inserted rows 26000 to 27000
Inserted rows 27000 to 28000
Inserted rows 28000 to 29000
Inserted rows 29000 to 30000
Inserted rows 30000 to 31000
Inserted rows 31000 to 32000
Inserted rows 32000 to 33000
Inserted rows 33000 to 34000
Inserted rows 34000 to 35000
Inserted rows 35000 to 36000
Inserted rows 36000 to 37000
Inserted rows 37000 to 38000
Inserted rows 38000 to 39000
Inserted rows 39000 to 40000
Inserted rows 40000 to 41000
Inserted rows 41000 to 42000
Inserted rows 42000 to 43000
Inserted rows 43000 to 44000
Inserted rows 44000 to 45000
Inserted rows 45000 to 46000
Inserted rows 46000 to 47000
Inserted rows 47000 to 48000
Inserted rows 48000 to 49000
Inserted rows 49000 to 50000
Inserted rows 50000 to 51000
Inserted rows 51000 to 52000
Inserted rows 52000 to 53000
Inserted rows 53000 to 54000
Inserted rows 54000 to 55000
Inserted rows 55000 to 56000
Inserted rows 56000 to 57000
Inserted rows 57000 to 58000
Inserted rows 58000 to 59000
Inserted rows 59000 to 60000
Inserted rows 60000 to 61000
Inserted rows 61000 to 62000
Inserted rows 62000 to 63000
Inserted rows 63000 to 64000
Inserted rows 64000 to 65000
Inserted rows 65000 to 66000
Inserted rows 66000 to 67000
Inserted rows 67000 to 68000
Inserted rows 68000 to 69000
Inserted rows 69000 to 70000
Inserted rows 70000 to 71000
Inserted rows 71000 to 72000
Inserted rows 72000 to 73000
Inserted rows 73000 to 74000
Inserted rows 74000 to 75000
Inserted rows 75000 to 76000
Inserted rows 76000 to 77000
Inserted rows 77000 to 78000
Inserted rows 78000 to 79000
Inserted rows 79000 to 80000
Inserted rows 80000 to 81000
Inserted rows 81000 to 82000
Inserted rows 82000 to 83000
Inserted rows 83000 to 84000
Inserted rows 84000 to 85000
Inserted rows 85000 to 86000
Inserted rows 86000 to 87000
Inserted rows 87000 to 88000
Inserted rows 88000 to 89000
Inserted rows 89000 to 90000
Inserted rows 90000 to 91000
Inserted rows 91000 to 92000
Inserted rows 92000 to 93000
Inserted rows 93000 to 94000
Inserted rows 94000 to 95000
Inserted rows 95000 to 96000
Inserted rows 96000 to 97000
Inserted rows 97000 to 98000
Inserted rows 98000 to 99000
Inserted rows 99000 to 100000
Inserted rows 100000 to 101000
Inserted rows 101000 to 102000
Inserted rows 102000 to 103000
Inserted rows 103000 to 104000
Inserted rows 104000 to 105000
Inserted rows 105000 to 106000
Inserted rows 106000 to 107000
Inserted rows 107000 to 108000
Inserted rows 108000 to 109000
Inserted rows 109000 to 110000
Inserted rows 110000 to 111000
Inserted rows 111000 to 112000
Inserted rows 112000 to 113000
Inserted rows 113000 to 114000
Inserted rows 114000 to 115000
Inserted rows 115000 to 116000
Inserted rows 116000 to 117000
Inserted rows 117000 to 118000
Inserted rows 118000 to 119000
Inserted rows 119000 to 120000
Inserted rows 120000 to 121000
Inserted rows 121000 to 122000
Inserted rows 122000 to 123000
Inserted rows 123000 to 124000
Inserted rows 124000 to 125000
Inserted rows 125000 to 126000
Inserted rows 126000 to 127000
Inserted rows 127000 to 128000
Inserted rows 128000 to 129000
Inserted rows 129000 to 130000
Inserted rows 130000 to 131000
Inserted rows 131000 to 132000
Inserted rows 132000 to 133000
Inserted rows 133000 to 134000
Inserted rows 134000 to 135000
Inserted rows 135000 to 136000
Inserted rows 136000 to 137000
Inserted rows 137000 to 138000
Inserted rows 138000 to 139000
Inserted rows 139000 to 140000
Inserted rows 140000 to 141000
Inserted rows 141000 to 142000
Inserted rows 142000 to 143000
Inserted rows 143000 to 144000
Inserted rows 144000 to 145000
Inserted rows 145000 to 146000
Inserted rows 146000 to 147000
Inserted rows 147000 to 148000
Inserted rows 148000 to 149000
MySQL connection is closed

In [13]:
df.shape

(148350, 11)